.post-content > div {
    width: 100%;
}

.post-content img+em {
    color: #aaa;
    display: block;
    font-family: "Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    text-align: center;
}